/*Estilos globales*/
html{
    font-size: 62.5%
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos generales*/
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}

/*Utilidades*/
.d-flex{
    display: flex;
}
.hov:hover{
    text-decoration: underline;
}
.boton{
    width: 13rem;
    height: 3.5rem;
    background-color: #1a73e8;

    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    color: white;
}
.boton:hover{
    background-color: #3884e7;;
}
.txt-centerv{
    align-items: center;
}

/*Estilos header*/
.header{
    width: 100%;
    height: 6rem;
    
    margin: 0;

    /* background-color: cornflowerblue; */

    justify-content: flex-end;

    font-size: 1.4rem;
}
.header__menu{
    width: 35rem;

    padding: 1.5rem;
    /* background-color: coral; */

    justify-content: space-around;
    align-items: center;
}

/*Estilos footer*/
.footer{
    width: 100%;
    height: 10rem;
    background-color: #f2f2f2;

    position: fixed;
    bottom: 0;

    font-size: 1.4rem;
}
.footer footer{
    display: flex;
    justify-content: space-between;
}
.footer, .footer a{
    color: #717171;
}
.footer a:hover{
    text-decoration: underline;
}
.footer header, .footer footer{
    padding: 0 2rem;
    padding-top: 0.5rem;
}
.footer__menu1{
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: space-between;
}
.footer__menu2{
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: flex-end;
}
.footer__menu2 li{
    margin-left: 3rem;
}
.footer__menu2 li:first-of-type{
    margin-left: 0;
}

/*Estilos main*/
.main{
    height: 100%;
    justify-content: center;
    align-items: center;

    margin-top: -20rem;
}
.logo{
    width: 30rem;
}
.main button{
    display: block
}